!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Richard Fontana
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>"#{site.base_url}" } 
          %ul.nav
            %li
              %a{ :href=>"#{site.base_url}" } Home
            %li
              %a{ :href=>"#{site.base_url}/presentations" } Presentations
            %li
              %a{ :href=>"#{site.base_url}/contact" } Contact
    .container
      .row
        .span4
        %h1 <span style="color:#06276F;">Richard</span> <span style="color:#1142AA;">Fontana</span>
        .span4
        .span4
      ~ content
      %hr
      %footer
        %p &copy; #{Date.today.year} Richard Fontana.  License: <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC BY-SA 3.0 US</a>. Site created with <a href="http://awestruct.org">Awestruct</a> <a href="http://github.com/richardfontana/richardfontana.org">(site source)</a>.
  -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
  -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
  -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
